<!DOCTYPE html>
{% load static %}

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'about.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
  </head>
  
  <body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">STOCKBOT</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="#">MARKET</a></li>
                    <li><a href="#">SHAREPRICE</a></li>
                    <li><a href="#">TRADE</a></li>
                </ul>
            </div>


        </div>

    </div>   
    
    <!-- -----------------------------------------------company---------------------------------------------------------------- -->
    <div class="company">
      <div class="img">
        <img src="static/Medium.png" alt="" />
      </div>
      <br>
      <div class="company-info">
        <span>OUR <span class="our">STOCKSBOT</span></span>
        <p>
            <h4 class="banner-header">There are trillions of rupees of wealth in India, lying in unproductive assets, losing value over time. We will help millions of Indians do better with their wealth.</h4>  
            <p>We will help them participate confidently in the public markets and build generational wealth through the power of compounding.</p>
            <p>We will help them invest by providing the right financial education to make the right investment decisions at the right time.</p>
            <p>We will do this through a seamless digital platform that will bring together the best of cutting-edge technology, intuitive design, ease and safety.</p>
          </div>
        </p>
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
    <div class="team"><span>OUR TEAM</span></div>
    <div class="container">
      <div class="card">
        <div class="card-image loading"><img src="https://images.pexels.com/photos/39866/entrepreneur-startup-start-up-man-39866.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Yash <span class="yellow-surname">Falke</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Graphic Designing Head</span> <br>
              Pursuing IT Engineering (VIT Mumbai) <br>
              Email: <a href="mailto:'yashfalke77@gmail.com'">yashfalke77@gmail.com</a>
            </span>
          </p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="https://scontent.fidr1-1.fna.fbcdn.net/v/t39.30808-6/274946386_1583349072031742_5434721996378136781_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=3aRpTqlrkCkAX9ikCzQ&_nc_ht=scontent.fidr1-1.fna&oh=00_AT_gK5MJjDNSaQtnDR-wWAcJXro8MsqCUGXr9k1OCk6LbA&oe=633B827A" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Harsh <span class="yellow-surname">Sunwani</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Web Developing Head</span> <br>
              Pursuing IT Engineering (VIT Mumbai) <br>
              Email: <a href="mailto:'harshsunwani11@gmail.com'">harshsunwani11@gmail.com</a>
            </span>
          </p>
          
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Nikhil <span class="yellow-surname">Jaiswal</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Marketing and Publicity Head</span> <br>
              Pursuing IT Engineering (VIT Mumbai) <br>
              Email: <a href="mailto:'Stockbot@gmail.com'">Stockbot@gmail.com</a>
            </span>
          </p>
          
        </div>
      </div>
    </div>
    <!-- ----------------------------------------footer------------------------------------------ -->
    <footer>
      <div class="content">
        <div class="top">
          <div class="logo-details">
            <span class="logo_name">STOCKBOT</span>
          </div>
          <div class="media-icons">
            <a target="on_blank" href="#"><i class="fab fa-facebook"></i></a>
            <a target="on_blank" href="https://www.instagram.com/vis_hal080/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        
      <div>
        <div>
          <ul class="box">
            <li class="link_name">Contact</li>
            <li><a target="on_blank" href="tel:+917522803442">+91 7522803442</a></li>
            <li><a target="on_blank" href="mailto:'stockbot@gmail.com'">Stockbot@gmail.com</a></li>
          </ul>
        </div>
      </div>
  
      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text">Copyright © 2022 <a href="index.html">STOCKBOT</a></span>
        </div>
      </div>
    </footer>
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
  
  </html>