<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    
    <title>Stock_Bot</title>
    <link rel="stylesheet" href="{% static 'ok.css'%}">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">STOCKBOT</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="base.html">MARKET</a></li>
                    <li><a href="#">SHAREPRICE</a></li>
                    <li><a href="#">TRADE</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        <div class="content">
            <h1>Share Market & <br><span>Learn from market</span> <br>and earn benifits</h1>
            <p class="par">Know what you own ,and know why you know it. <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
                <br> a quae totam ipsa illum minus laudantium?</p>

                <button class="cn"><a href="login.html">JOIN US</a></button>




                
            </form>

        </div>

                

                
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>